.nammoi{
    width: 1000px;
    margin: auto;
    color: rgb(216, 41, 41);
    font-size: 50px;
    text-align: center;
    font-family: segoe ui light;
    transition: 0.5s;
    padding-top: 100px;
}
.nammoi:hover{
    color: rgb(83, 9, 9);
}
@media(max-width:990px) and (min-width:567px){
    .nammoi{
        width: 567px;
        font-size: 35px;
    }
}
@media(max-width:567px) {
    .nammoi{
        width: 350px;
        font-size: 25px;
    }
}